.nav-button {
  color: black;
  background-color: goldenrod;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-button:hover {
  border-color: white;
  background-color: gold;
}

body {
  font-size: 1.25rem;
  background-color: #f6f8fa;
}

td {
  line-height: 3rem;
}
